/* generic HTML + body styling */
html {
    position: absolute;
    min-height: 100%;
    width: 95%;
    overflow: auto;
}
body {
    font-family: verdana;
    color: white;
    background-color: #1E2124;
    text-align: center;
}

/* navbar logo styling */
.navbar-logo {
    margin-top: -10px;
    max-height: 45px;
    width: auto;
}